.main {
    background-color: antiquewhite;
    opacity: 100%;
    width: 100%;
    padding: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Avenir,Helvetica,Arial;
    /*background-image: url('https://res.cloudinary.com/tf-lab/image/upload/w_1200,h_674,c_fill,g_auto:subject,q_auto,f_auto/restaurant/9c02e8cc-8320-4547-97a9-cf22f4acbcca/c031e6fb-f5ba-4b79-bb6b-f4d95dcb1692.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}
img {
    opacity: 80%;
}
input[type=button],
input[type=submit] {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Avenir,Helvetica,Arial;
}
header {

}
#header-resevering {
    width: 100%;
    height: 700px;
    background-image: url('../img/foto.png');
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(70%);
    background-repeat: no-repeat;
}
nav a {
    float: right;
    color: #292828;
    text-align: center;
    font-size: 15px;
    padding: 14px;
    text-decoration: none;
    margin-top: 100px;
    font-weight: 900;
}
a:hover {
    color: #777774;
}

#logo{
    position:fixed;
    top:0;
    left:0;
    width: 350px;
    height: 220px;
}
#verwijderen, #aanpassen{
    margin-top: 100px;
}
/*-webkit-tap-highlight-color: rgba(0,0,0,0);
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #20c997;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #007bff;
--secondary: #6c757d;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
font-family: Avenir,Helvetica,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
box-sizing: border-box;
text-decoration: none;
display: inline-block;
text-align: center;
vertical-align: middle;
cursor: pointer;
user-select: none;
border: 1px solid transparent;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
color: #fff;
background-color: #dc3545;
border-color: #dc3545;
font-size: .875rem;
line-height: 1.5;
border-radius: 50rem!important;
margin-top: 1rem!important;
padding: 1rem!important;
text-transform: uppercase!important;
font-weight: 700!important;*/